/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.trainer-video ul li  {
  float : right;
}

 /* Dashboard Page */
.woocommerce-MyAccount-content table {
  border : 1px solid #ddd;
  width: 100%;
}

.woocommerce-MyAccount-content table tr th {
  text-align: left;
  text-transform: capitalize;
}

.woocommerce-MyAccount-content table tr td {
  text-align: left;
}

.woocommerce-MyAccount-content .table-wrapper {
  overflow-x: auto;
}

table.table tr td {
  text-align: left !important;
}

.woocommerce-MyAccount-navigation ul {
  border : 1px solid #ddd;
}

.woocommerce-MyAccount-navigation ul>li.is-active>a {
  background-color: #9bb70c;
  color: #fff !important;
  margin: 0;
  border : none;
}

/* Membership Page */
.wpb_wrapper .dt-sc-pro-price {
  display: none;
}

p.product.woocommerce.add_to_cart_inline {
  border: none !important;
}

a.button.product_type_subscription.add_to_cart_button.ajax_add_to_cart {
  float: right;
  width: 100%;
  margin-top: 10px;
  position: relative;
  z-index: 9;
  text-align: center;
}

.dt-sc-pro-detail span.woocommerce-Price-amount.amount {
  font-size: 25px;
}

.dt-sc-pro-detail .dt-sc-pro-content {
  border : none !important;
}

.dt-sc-programs .dt-sc-pro-detail {
  padding-bottom: 30px;
}

a.added_to_cart.wc-forward {
  float: right;
  font-weight: bold;
}

.woocommerce a.added_to_cart {
  position: relative;
  z-index: 9;
}

/* form error messager  */

.error-message {
  border: none;
  background-color: red;
  color: #fff;
  padding: 10px;
  margin-bottom: 5px;
}

.success-message {
  border: none;
  background-color: green;
  color: #fff;
  padding: 10px;
  margin-bottom: 5px;
}


/* All video dsection */
.video-wrapper {
  display : flex;
  flex-wrap : wrap;
}

.video-wrapper .video {
  border : 1px solid #ddd; 
  border-radius: 5px;
  padding : 10px;
  width : calc( 25% - 15px);
  margin-bottom : 25px;
  margin-right : 15px;
}

.video-wrapper .video .video-meta {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

.video-wrapper .video:nth-child(4n) {
  margin-right : 0;
}

@media screen and ( max-width : 768px ) {
  .video-wrapper .video {
      width : 50%;
  }
}
@media screen and ( max-width : 576px ) {
  .video-wrapper .video {
      width : 100%;
  }
}

.video-wrapper .video h5 {
  margin-bottom: 0;
}

.video-wrapper .video img {
  width : 100%;
}

.woocommerce {
  float: left;
  position: relative;
  box-sizing: border-box;
  width : 100%;
}


.woocommerce-MyAccount-navigation {
  float: left;
  width: calc( 25% - 20px) !important;
  margin: 0px 20px 20px 0 !important;
}

.woocommerce-MyAccount-navigation ul>li {
  display: inline-block;
  width: 100%;
}

.woocommerce-MyAccount-content {
  float: left;
  width: 75%;
  box-sizing: border-box;
}

.woocommerce-MyAccount-navigation ul>li>a {
  width : 100%;
  border-bottom : 1px solid #ddd;
  text-align: left !important;
  border-bottom : 1px solid #ddd !important;
}

@media screen and ( max-width : 768px ) {
  .woocommerce-MyAccount-navigation, .woocommerce-MyAccount-content {
      width : 100% !important;
  }
}