/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */




#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }
  
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  button {
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  .step.finish {
    background-color: #04AA6D;
  }
  
  .reg-content-wrapper {
      overflow: auto;
  }
  
  .reg-content-wrapper input[type='checkbox'] {
  
    width: 20px;
    height: 20px;
    background: grey;
    cursor: pointer;
  }
  
  .reg-content-wrapper label {
      vertical-align: sub;
  }
  
  .reg-content-wrapper ul li input[type="radio"] {
      /* opacity: 0; */
  } 
  
  .reg-content-wrapper li {
      width: 100%;
      display: block;
      float: left;
      margin-bottom: 10px;
      padding: 10px;
      background-color: #ddd;
      border-radius: 5px;
      box-sizing: border-box;
      cursor: pointer;
  }
  
  .reg-content-wrapper input[type="checkbox"] {
      vertical-align: bottom;
      float: right;
      position: relative;
      width: 100;
      text-align: right;
  }
  